* {
  box-sizing: border-box;
}

body {
  background: #DAEBF2;
  color: #000;
  font-family: Avenir, sans-serif;
  margin: 3em;
}

h1  {
  background: #FF404C;
  color: #fff;
  padding: 1em;
  margin: 0;
  text-align: center;
  font-family: Georgia, serif;
}

#container {
  height: 500px;
  background: #0287b3;
  padding: .5em;
}

#graph {
  height: 500px;
  background: #0287b3;
  padding: .5em;
}

a {
  color: #0287b3;
}

a:hover {
  color: #3ecbfa;
}

@media (max-width: 480px) {

  #container {
    width: 100%
    margin: 0
  }
}
